<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/f3k-logo.png" alt="logo" width="200" height="200" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how many there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == "/" %} cs-active {% endif %}">
                            Home
                        </a>
                    </li>
                     <li class="cs-li">
                        <a href="/#pricing-1691" class="cs-li-link {% if page.url == "/#pricing-1691/" %} cs-active {% endif %}">
                            Pricing
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == "/about/" %} cs-active {% endif %}">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/classes/" class="cs-li-link {% if page.url == "/classes/" %} cs-active {% endif %}">
                            Classes
                        </a>
                    </li>
                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <!--
                    <li class="cs-li cs-dropdown">
                        <span class="cs-li-link {% if page.url == "/ways-to-train/" or page.url == "/group-classes/" %} cs-active {% endif %}">
                            Train &#9662;
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/ways-to-train/" class="cs-li-link cs-drop-link">Ways To Train</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/group-classes/" class="cs-li-link cs-drop-link">Group Classes</a>
                            </li>
                        </ul>
                    </li>
                    -->
                    <li class="cs-li">
                        <a href="/support/" class="cs-li-link {% if page.url == "/support/" %} cs-active {% endif %}">
                            Support
                        </a>
                    </li>
                    
                    <li class="cs-li cs-hide-on-desktop">
                        <a href="/contact/" class="cs-li-link {% if page.url == "/contact/" %} cs-active {% endif %}">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact/" class="cs-button-solid cs-nav-button">Join Now</a>
        
       
        <!-- V deleted dark mode toggle here -->
        
    </div>
</header>