---
title: "Join Fitness3K | Start Your Free 7-Day Trial"
description: "Ready to get started? Sign up for a free 7-day trial at Fitness3K Melbourne. No credit card required. Full access to gym, trainers, and all group classes."
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/gym-1b.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}


    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact-265">
        <div class="cs-container">
            <div class="cs-left-section">
                <div class="cs-content">
                    <span class="cs-topper">Get started today</span>
                    <h2 class="cs-title">Ready to begin your fitness journey?</h2>
                    <p class="cs-text">
                        Fill out the form below and we'll contact you within 24 hours to arrange your free trial week and facility tour. If you'd like to speak to a personal trainer, the info on this form will help us arrange that for you.
                    </p>
                </div>
                <form id="cs-form-265" name="contact" method="post" data-netlify="true" action="/success/">
                    <label>
                        Full Name
                        <input required type="text" id="name-265" name="name" placeholder="Joe Strong">
                    </label>
                    <label>
                        Email
                        <input required type="text" id="email-265" name="email" placeholder="mymail@mymail.com">
                    </label>
                    <label>
                        Phone Number
                        <input required type="text" id="phone-265" name="phone" placeholder="0412 345 678">
                    </label>
                    <label>
                        Age
                        <input type="text" id="age-265" name="age" placeholder="31">
                    </label>
                    <label>
                        Current fitness level
                        <textarea id="fitnesslevel-265" name="fitness-level" placeholder="Beginner/experienced/pro athlete..?"></textarea>
                    </label>
                    <label>
                        Primary goals
                        <textarea id="goal-265" name="goal" placeholder="Lose weight, build muscle, train for a sport.."></textarea>
                    </label>
                    <label>
                        Preferred contact time
                        <input type="text" id="time-265" name="time" placeholder="Morning/afternoon">
                    </label>
                    <label>
                        Preferred trial week start date
                        <input type="text" id="startdate-265" name="time" placeholder="1st November">
                    </label>
                    <label class="cs-label-message">
                        Questions or anything you'd like to add:
                        <textarea name="Message" id="message-265" placeholder="Type away.."></textarea>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">Submit Message</button>
                </form>
            </div>
            <div class="cs-right-section">
                <span class="cs-header cs-right-header">Call or visit us:</span>
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{ client.email }}">{{ client.email }}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{ client.phoneForTel }}">{{ client.phoneFormatted }}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{ client.address.mapLink }}">
                    {{ client.address.lineOne }} <br>
                    <!-- {{ client.address.lineTwo }}, <br> -->
                    {{ client.address.city }} {{ client.address.state }}
                    {{ client.address.zip }}
                </a>
                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 576, height: 640 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 576, height: 640 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 576, height: 640 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 820, height: 1372 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 820, height: 1372 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 820, height: 1372 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 1084, height: 1156 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 1084, height: 1156 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 1084, height: 1156 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/weights-1b.jpg" | resize({ width: 1084, height: 1156 }) | jpeg %}" alt="building" width="542" height="578" decoding="async">
                </picture>
            </div>
        </div>
    </section>


{% endblock %}